/* links externos */
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-medium.ttf");
  font-weight: 200, 300, 600, 800; /*Olhar na hora que entrar no código*/
}
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}
/* Padrão para todos os elementos */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Poppins;
}

/* Variáveis */

:root {
  --color-dark: #000000;
  --color-dark2: #141414;
  --color-dark3: #1414146b;
  --color-white: #ffffff;
  --color-green: #26e037;
  --color-yellow: #fffc22;
  --color-blue: #2636e0;
  --color-blue2: #36f1f7;
  --color-blue3: #36f1f77c;
}

body {
  width: 100%;
  min-height: 100vh;
}

/* Media DeskTop */
/* ==> Navegação Header */
.header {
  background: var(--color-white);
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 0 0 1rem var(--color-dark3);

  font-weight: 900;
}
#logo {
  margin-left: 4rem;
}
.imageLogo {
  width: 3.8rem;
}
#buttonMenu {
  display: none;
}
#navHeader {
  width: 65%;
}
.navListHeader {
  display: flex;
  gap: 6rem;
}

.navListHeader a {
  color: var(--color-dark2);
  font-size: 1rem;
  display: block;
  padding: 0.5rem;
  transition: 0.4s all;
}
.navListHeader a:hover {
  color: var(--color-blue);
  transform: scale(1.04);
}
/* ==> Main */

main {
  margin: 0 auto;
  min-width: 380px;
  max-width: 1200px;
}
.title-principal {
  font-family: Montserrat;
  font-weight: 900;
  color: var(--color-blue);
  margin: 1rem 0 1rem 1rem;
  font-size: 1.6rem;
}
.container-principal {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  gap: 1rem;
  padding: 0.5rem;
  min-height: 100vh;
}
.container-principal a img {
  border-radius: 0.3rem;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
}
.container-principal a img:hover {
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}

.container-vini {
  overflow: hidden;
  grid-column: 1;

  grid-row: 1 / 3;
}
.container-neymar {
  overflow: hidden;
  grid-column: 2;
  grid-row: 1;
}
.container-diniz {
  overflow: hidden;
  grid-column: 2;
  grid-row: 2;
}
/* ==> Navegação Footer */

/* Media Tablet*/

@media (min-width: 768px) and (max-width: 991px) {
}

/* Media Mobile*/
@media (max-width: 600px) {
  .header {
    display: flex;
    height: 13vh;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  #logo {
    margin-left: 0.1rem;
  }
  #navHeader {
    width: 25%;
    display: flex;
    justify-content: center;
  }
  #buttonMenu {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #menuHamburguer {
    width: 20px;
    border-top: 2px solid;
    display: block;
    color: var(--color-dark2);
  }
  #menuHamburguer::after,
  #menuHamburguer::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #navHeader.active #menuHamburguer {
    border-top-color: transparent;
  }
  #navHeader.active #menuHamburguer::before {
    transform: rotate(135deg);
  }
  #navHeader.active #menuHamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  .navListHeader a {
    padding: 1rem 0;
    margin: 0 1rem;
    font-size: 0.8rem;
    font-weight: 100;
    border-bottom: 2px solid var(--color-blue3);
  }
  .navListHeader a:hover {
    background: var(--color-blue3);
    color: var(--color-dark2);
  }
  .navListHeader {
    background: var(--color-white);
    width: 100%;
    top: 4.4rem;
    right: 0px;
    height: 0px;
    position: absolute;
    z-index: 9999;
    transition: 0.6s;
    display: block;
    visibility: hidden;
    overflow-y: hidden;
  }
  #navHeader.active .navListHeader {
    height: 40vh;
    visibility: visible;
  }
  /* ==> Main */
  .title-principal {
    font-size: 1.2rem;
  }
  .container-principal {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
