/* links externos */

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 200, 300, 600, 800;
}
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}
/* Padrão para todos os elementos */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Poppins;
}

/* Variáveis */

:root {
  --color-dark: #000000;
  --color-dark2: #141414;
  --color-dark3: #1414146b;
  --color-white: #ffffff;

  --color-green3: rgb(21, 190, 35);
  --color-blue: #2636e0;
  --color-blue2: #36f1f7;
  --color-blue3: #36f1f77c;
  --color-blue4: #091596;
  --color-blue5: #070f66;
  --color-gray: rgb(136, 135, 135);
}

body {
  width: 100%;
  min-height: 100vh;
}

/* Media DeskTop */
/* ==> Navegação Header */
.header {
  background-color: var(--color-white);
  width: 100%;
  height: 10vh;
  box-shadow: 0 0 1rem var(--color-dark3);
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 9998;
}
#logo {
  margin-left: 4rem;
}
.imageLogo {
  width: 2.8rem;
}
#buttonMenu {
  display: none;
}
#navHeader {
  width: 65%;
}
.navListHeader {
  display: flex;
  gap: 6rem;
}

.navListHeader a {
  color: var(--color-dark2);
  font-size: 1rem;
  display: block;
  padding: 0.5rem;
  font-weight: 600;
}
.navListHeader a:hover {
  color: var(--color-blue);
}
/* ==> Main */

main {
  margin: 0 auto;
  min-width: 298px;
  max-width: 1200px;
}
#sectionNoticia {
  width: 100%;
  min-height: 100vh;
  margin-top: 2rem;
}
.title-principal,
.title-jogos,
.titleVideos,
.title-patrocinio {
  font-family: Montserrat;
  font-weight: 900;
  color: var(--color-blue);
  margin: 1rem 0 1rem 1rem;
  font-size: 1.6rem;
}
.container-principal {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  gap: 1rem;
  padding: 0.5rem;
  min-height: 100vh;
}
.container-principal a img {
  border-radius: 0.3rem;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
}
.container-principal a img:hover {
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
  transition: all 0.9s;
  filter: brightness(80%);
}

.container-vini {
  overflow: hidden;
  grid-column: 1;

  grid-row: 1 / 3;
}
.container-neymar {
  overflow: hidden;
  grid-column: 2;
  grid-row: 1;
}
.container-diniz {
  overflow: hidden;
  grid-column: 2;
  grid-row: 2;
}
#sectionJogos {
  width: 100%;
  position: relative;
  margin-bottom: 3.1rem;
}

#tabelaJogos {
  max-height: 40vh;
  overflow: hidden;
  position: relative;
  transition: max-height 0.4s ease;
}
.overflowTabela {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10vh;
}
.overflowTabela[data-state="visible"] {
  display: block;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 3rem;
  background: var(--color-white);
}

caption {
  font-size: 1.5em;
  margin-bottom: 10px;
  font-family: Montserrat;
  font-weight: 800;
}

th,
td {
  border: 1px solid var(--color-blue3);
  padding: 8px;
  text-align: left;
}
.container-bandeira-pais {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
th {
  background-color: var(--color-blue2);
}

tr:hover {
  background-color: var(--color-blue3);
}
.buttonTabelaJogos {
  position: absolute;

  width: 100%;
  bottom: 0.1rem;
  height: 3rem;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: var(--color-blue3);
  border: none;
  border-radius: 0.2rem;
  color: var(--color-dark2);
  cursor: pointer;
}
#sectionVideos {
  height: 70vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.titleVideos {
  text-align: left;
}
#container-videos {
  width: 100%;
  position: relative;
}
.gallery-wrapper {
  overflow-x: hidden;
  height: 55vh;
  display: flex;
  align-items: center;
}
.gallery {
  display: flex;

  gap: 2rem;
}
.prev-button {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 2;
  border: none;
  background: transparent;
  cursor: pointer;
}
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: 2;
  border: none;
  background: transparent;
  cursor: pointer;
}
.arrows:hover,
.arrows:hover {
  transform: scale(1.1);
}
.image-carrossel {
  width: 100%;
  height: auto;
  cursor: pointer;
}
.popup {
  width: 100%;
  height: 100vh;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-dark3);

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  transition: opacity 0.8s ease;
}

.popup-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: auto;
  border-radius: 0.5rem;
  z-index: 9999;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  color: var(--color-dark2);
  font-size: 3rem;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-bottom-left-radius: 0.5rem;
}
.item {
  width: 450px;
  height: 300px;
  flex-shrink: 0;
  filter: brightness(60%) blur(1px);
  transition: all 600ms ease-in-out;
}

.current-item {
  filter: none;
}
.current-item img {
  border-radius: 0.2rem;
  transform: scale(1.05);
  transition: all 0.6s ease-in-out;
  box-shadow: 0 0 1rem var(--color-dark);
}
/* ==> Secção Patrocinadores*/

#sectionPatrocinio {
  width: 100%;
  min-height: 100vh;
}
.container-logos {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
hr {
  height: 3.2px;
  background-color: var(--color-blue);
}
.logos-1,
.logos-3 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.logos-2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
}
.container-logo-2 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
/* ==> Navegação Footer */
footer {
  width: 100%;
  min-height: 100vh;
  margin-top: 4rem;
}
#newsletter {
  width: 100%;
  height: 30vh;

  background-color: var(--color-blue4);
  display: flex;
  justify-content: space-between;
  padding: 2rem 9rem;
  align-items: center;
}
#newsletter span {
  color: var(--color-white);
  font-size: 1.2rem;
  font-weight: 800;
  font-family: Montserrat;
}
.container-input {
  display: flex;
  align-items: center;
}
.container-input input {
  width: 30rem;
  padding-left: 1rem;
  height: 3rem;

  border: none;
  font-size: 1.2rem;
  color: var(--color-dark2);
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.container-input input:focus {
  outline: none;
}
#buttonEmail {
  padding: 0 2.5rem;
  height: 3rem;

  color: var(--color-dark4);
  font-weight: 900;
  font-size: 1rem;
  background-color: var(--color-green3);
  border: none;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  margin-left: -1.04px;
  cursor: pointer;
}
#footer-navigation {
  height: 50vh;
  width: 100%;

  background-color: var(--color-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 9rem;
}
#footer-navigation nav {
  width: 85%;
  display: flex;
  justify-content: space-around;
  color: var(--color-white);
  cursor: pointer;
}
#footer-navigation nav a {
  color: var(--color-white);
}
#footer-navigation nav a:hover,
#footer-navigation nav li:hover,
#footer-navigation nav p:hover {
  text-decoration: underline;
}

.logo-footer {
  width: 6.5rem;
}
#enderecoCBF {
  width: 100%;
  height: 20vh;

  background-color: var(--color-blue5);
  display: flex;
  justify-content: space-between;
  padding: 0 9rem;
  color: var(--color-gray);
  align-items: center;
}
.p-endereco,
.nomeGrupo {
  color: var(--color-white);
}
h4 {
  font-family: Montserrat;
}
/* ==> Navegação Footer */

/* Media Tablet*/

@media (min-width: 601px) and (max-width: 990px) {
  .header {
    display: flex;
    height: 13vh;
    justify-content: space-between;
    align-items: center;
    position: fixed;
  }
  #logo {
    margin-left: 0.1rem;
  }
  #navHeader {
    width: 25%;
    display: flex;
    justify-content: center;
  }
  #buttonMenu {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #menuHamburguer {
    width: 20px;
    border-top: 2px solid;
    display: block;
    color: var(--color-dark2);
  }
  #menuHamburguer::after,
  #menuHamburguer::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #navHeader.active #menuHamburguer {
    border-top-color: transparent;
  }
  #navHeader.active #menuHamburguer::before {
    transform: rotate(135deg);
  }
  #navHeader.active #menuHamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  .navListHeader a {
    padding: 1rem 0;
    margin: 0 1rem;
    font-size: 0.8rem;
    font-weight: 100;
    border-bottom: 2px solid var(--color-blue3);
  }
  .navListHeader a:hover {
    background: var(--color-blue3);
    color: var(--color-dark2);
  }
  .navListHeader {
    background: var(--color-white);
    width: 100%;
    top: 4.4rem;
    right: 0px;
    height: 0px;
    position: absolute;
    z-index: 9999;
    transition: 0.6s;
    display: block;
    visibility: hidden;
    overflow-y: hidden;
  }
  #navHeader.active .navListHeader {
    height: 40vh;
    visibility: visible;
  }

  /*main*/
  .container-principal {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-vini,
  .container-vini img,
  .container-diniz,
  .container-diniz img,
  .container-neymar,
  .container-neymar img {
    width: 100%;
  }
  #sectionJogos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  #tabelaJogos {
    width: 96%;
  }
  .buttonTabelaJogos {
    width: 96%;
  }
  .item {
    width: 345px;
  }
  #sectionVideos {
    width: 98%;
    height: 65vh;
  }
  .current-item {
    filter: none;
  }
  .current-item img {
    transform: scale(1.05);
  }

  .popup-video {
    width: 95%;
  }
  .container-logos {
    min-height: 100vh;
  }
  .container-logos img {
    width: 5rem;
  }
  .logos-1,
  .logos-2 {
    margin-bottom: 1rem;
  }
  .logos-3,
  .logos-2 {
    margin-top: 1rem;
  }
  .logos-1,
  .logos-2,
  .logos-3,
  .container-logo-2 {
    gap: 4rem;
  }
  .container-logo-2 {
    flex-wrap: wrap;
  }
  /*footer*/
  footer {
    width: 100%;
    min-height: 100vh;
  }
  #newsletter {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 1rem;
  }
  #newsletter span {
    font-size: 1.2rem;
  }
  .container-input input {
    width: 24rem;
    font-size: 0.9rem;
  }
  #buttonEmail {
    padding: 0 1rem;
    font-size: 0.8rem;
  }
  #footer-navigation {
    padding: 1rem;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 0.8rem;
  }
  #footer-navigation nav {
    gap: 1rem;
  }
  .logo-footer {
    width: 5.2rem;
  }
  #enderecoCBF {
    height: 40vh;
    flex-direction: column;
    padding: 0 0.7rem;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    font-size: 0.9rem;
  }
  /*footer*/
}

/* Media Mobile*/
@media (max-width: 600px) {
  .header {
    display: flex;
    height: 9vh;
    justify-content: space-between;
    align-items: center;
    position: fixed;
  }
  #logo {
    margin-left: 0.1rem;
  }
  #navHeader {
    width: 25%;
    display: flex;
    justify-content: center;
  }
  #buttonMenu {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #menuHamburguer {
    width: 20px;
    border-top: 2px solid;
    display: block;
    color: var(--color-dark2);
  }
  #menuHamburguer::after,
  #menuHamburguer::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #navHeader.active #menuHamburguer {
    border-top-color: transparent;
  }
  #navHeader.active #menuHamburguer::before {
    transform: rotate(135deg);
  }
  #navHeader.active #menuHamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  .navListHeader a {
    padding: 1rem 0;
    margin: 0 1rem;
    font-size: 0.8rem;
    font-weight: 100;
    border-bottom: 2px solid var(--color-blue3);
  }
  .navListHeader a:hover {
    background: var(--color-blue3);
    color: var(--color-dark2);
  }
  .navListHeader {
    background: var(--color-white);
    width: 100%;
    top: 5rem;
    right: 0px;
    height: 0px;
    position: absolute;
    z-index: 9999;
    transition: 0.6s;
    display: block;
    visibility: hidden;
    overflow-y: hidden;
  }
  #navHeader.active .navListHeader {
    height: 30vh;
    visibility: visible;
  }
  /* ==> Main */

  .title-principal,
  .title-jogos,
  .titleVideos,
  .title-patrocinio {
    font-size: 1.4rem;
    text-align: center;
  }
  #sectionNoticia {
    width: 100%;
    margin: 0 auto;
  }
  .container-principal {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  .container-vini,
  .container-neymar,
  .container-diniz {
    width: 100%;
  }
  .container-diniz img,
  .container-neymar img,
  .container-vini img {
    width: 100%;
  }

  #sectionJogos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  #tabelaJogos {
    width: 96%;
  }
  table {
    margin: 0 auto;
    width: 100%;
    margin-bottom: 3rem;
  }
  caption {
    font-size: 1rem;
  }
  th,
  td {
    font-size: 0.8rem;
  }
  .buttonTabelaJogos {
    width: 96%;
  }

  .item {
    width: 345px;
  }
  #sectionVideos {
    width: 98%;
    height: 65vh;
  }
  .current-item {
    filter: none;
  }
  .current-item img {
    transform: scale(1.05);
  }

  .popup-video {
    width: 95%;
  }
  .container-logos {
    min-height: 150vh;
  }
  .container-logos img {
    width: 5rem;
  }
  .logos-1,
  .logos-2 {
    margin-bottom: 1rem;
  }
  .logos-3,
  .logos-2 {
    margin-top: 1rem;
  }
  .logos-1,
  .logos-2,
  .logos-3,
  .container-logo-2 {
    gap: 4rem;
  }
  .container-logo-2 {
    flex-wrap: wrap;
  }
  /*main*/
  /*footer*/
  footer {
    width: 100%;
    min-height: 100vh;
  }
  #newsletter {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 1rem;
  }
  #newsletter span {
    font-size: 0.9rem;
  }
  .container-input input {
    width: 16rem;
    font-size: 0.9rem;
  }
  #buttonEmail {
    padding: 0 1rem;
    font-size: 0.8rem;
  }
  #footer-navigation {
    padding: 1rem;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 0.8rem;
  }
  #footer-navigation nav {
    gap: 1rem;
  }
  .logo-footer {
    width: 5.2rem;
  }
  #enderecoCBF {
    height: 40vh;
    flex-direction: column;
    padding: 0 0.7rem;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    font-size: 0.9rem;
  }
  /*footer*/
}
