/* links externos */

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-medium.ttf");
  font-weight: 200, 300, 600, 800;
}
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}
/* Padrão para todos os elementos */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* Variáveis */

:root {
  --color-dark: #000000;
  --color-dark2: #141414;
  --color-dark3: #1414146b;
  --color-white: #ffffff;
  --color-green: #26e037;
  --color-green2: rgba(38, 224, 54, 0.678);
  --color-yellow: #fffc22;
  --color-blue: #2636e0;
  --color-blue2: #36f1f7;
  --color-blue3: #36f1f77c;
  --border-table: #ddd;
  --background-thead: #d4d4d4;
  --bg-hoverThead: rgb(221, 220, 220);
  --background-table: #e7e7e7;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: Poppins;
}

/* Media DeskTop */
/* ==> Navegação Header */
.header {
  background: var(--color-white);
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 0 0 1rem var(--color-dark3);

  font-weight: 900;
}
#logo {
  margin-left: 4rem;
}
.imageLogo {
  width: 3.8rem;
}
#buttonMenu {
  display: none;
}
#navHeader {
  width: 65%;
}
.navListHeader {
  display: flex;
  gap: 6rem;
}

.navListHeader a {
  color: var(--color-dark2);
  font-size: 1rem;
  display: block;
  padding: 0.5rem;
}
.navListHeader a:hover {
  color: var(--color-blue);
}
/* ==> Main */

main {
  margin: 0 auto;
  min-width: 298px;
  max-width: 1200px;
}
#section-noticia {
  width: 100%;
}
.title-principal,
.title-jogos,
.titleVideos {
  font-family: Montserrat;
  font-weight: 900;
  color: var(--color-blue);
  margin: 1rem 0 1rem 1rem;
  font-size: 1.6rem;
}
.container-principal {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  gap: 1rem;
  padding: 0.5rem;
  min-height: 100vh;
}
.container-principal a img {
  border-radius: 0.3rem;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
}
.container-principal a img:hover {
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
  transition: all 0.9s;
  filter: brightness(80%);
}

.container-vini {
  overflow: hidden;
  grid-column: 1;

  grid-row: 1 / 3;
}
.container-neymar {
  overflow: hidden;
  grid-column: 2;
  grid-row: 1;
}
.container-diniz {
  overflow: hidden;
  grid-column: 2;
  grid-row: 2;
}
#sectionJogos {
  width: 100%;
  position: relative;
  margin-bottom: 3.1rem;
}

#tabelaJogos {
  max-height: 40vh;
  overflow: hidden;
  position: relative;
  transition: max-height 0.4s ease;
}
.overflowTabela {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10vh;
}
.overflowTabela[data-state="visible"] {
  display: block;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 3rem;
  background: var(--background-table);
}

caption {
  font-size: 1.5em;
  margin-bottom: 10px;
  font-family: Montserrat;
  font-weight: 800;
}

th,
td {
  border: 1px solid var(--border-table);
  padding: 8px;
  text-align: left;
}
.container-bandeira-pais {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
th {
  background-color: var(--background-thead);
}

tr:hover {
  background-color: var(--bg-hoverThead);
}
.buttonTabelaJogos {
  position: absolute;

  width: 100%;
  bottom: 0.1rem;
  height: 3rem;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: var(--color-green2);
  border: none;
  border-radius: 0.2rem;
  color: var(--color-dark2);
  cursor: pointer;
}
#sectionVideos {
  height: 90vh;
  width: 100%;
  margin: 0 auto;
}
.titleVideos {
  text-align: left;
}
#container-videos {
  width: 100%;
  height: 55vh;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-wrapper {
  overflow-x: hidden;
  height: 50vh;
  padding: 0 30px;
  display: flex;
  align-items: center;
}
.gallery {
  display: flex;
  flex-flow: row no-wrap;
  gap: 2rem;
}
.prev-button {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 2;
  border: none;
  background: transparent;
  cursor: pointer;
}
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: 2;
  border: none;
  background: transparent;
  cursor: pointer;
}
.image-carrossel {
  width: 100%;
  height: auto;
  cursor: pointer;
}
.popup {
  width: 70%;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 3;
  opacity: 1;
  transition: opacity 0.8s ease;
}
.popup-video {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #f0f0f0;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-bottom-left-radius: 0.5rem;
}
.item {
  width: 450px;
  height: 300px;
  flex-shrink: 0;
  opacity: 0.8;
  transition: all 600ms ease-in-out;

  /* position: relative; */
}

.current-item {
  opacity: 1;
}
.current-item img {
  border-radius: 0.2rem;
  transform: scale(1.05);
  transition: all 0.6s ease-in-out;
  box-shadow: 0 0 10px var(--color-dark);
  z-index: 1;
}
/* ==> Navegação Footer */

/* Media Tablet*/

@media (min-width: 768px) and (max-width: 991px) {
}

/* Media Mobile*/
@media (max-width: 600px) {
  .header {
    display: flex;
    height: 13vh;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  #logo {
    margin-left: 0.1rem;
  }
  #navHeader {
    width: 25%;
    display: flex;
    justify-content: center;
  }
  #buttonMenu {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #menuHamburguer {
    width: 20px;
    border-top: 2px solid;
    display: block;
    color: var(--color-dark2);
  }
  #menuHamburguer::after,
  #menuHamburguer::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #navHeader.active #menuHamburguer {
    border-top-color: transparent;
  }
  #navHeader.active #menuHamburguer::before {
    transform: rotate(135deg);
  }
  #navHeader.active #menuHamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  .navListHeader a {
    padding: 1rem 0;
    margin: 0 1rem;
    font-size: 0.8rem;
    font-weight: 100;
    border-bottom: 2px solid var(--color-blue3);
  }
  .navListHeader a:hover {
    background: var(--color-blue3);
    color: var(--color-dark2);
  }
  .navListHeader {
    background: var(--color-white);
    width: 100%;
    top: 4.4rem;
    right: 0px;
    height: 0px;
    position: absolute;
    z-index: 9999;
    transition: 0.6s;
    display: block;
    visibility: hidden;
    overflow-y: hidden;
  }
  #navHeader.active .navListHeader {
    height: 40vh;
    visibility: visible;
  }
  /* ==> Main */
  .title-principal {
    font-size: 1.2rem;
    text-align: center;
  }
  .container-principal {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  #sectionJogos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .title-jogos {
    font-size: 1.2rem;
    text-align: center;
  }
  #tabelaJogos {
    width: 96%;
  }
  table {
    margin: 0 auto;
    width: 100%;
    margin-bottom: 3rem;
  }
  caption {
    font-size: 1rem;
  }
  th,
  td {
    font-size: 0.8rem;
  }
  .buttonTabelaJogos {
    width: 96%;
  }
}
