/* links externos */


/* Padrão para todos os elementos */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* Variáveis */

:root{

}

/* Classes, ID's e Elementos */

body{
    width: 100%;
    height: 100vh;
}

/* ==> Navegação Header */

.navHeader{
    width: 100%;
    height: 10vh;
    border: solid 1px black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo{
    padding-left: 64px;
    color: black;
    font-size: 2rem;
    font-weight: 600;
}

.navListHeader{
    display: flex;
    align-items: center;
}

.navListHeader li{
    padding: 8px 64px;
}

.navListHeader a{
    color: black;
    font-size: 1.2rem;
    font-weight: 100;
}

/* ==> Main */

main{
    width: 100%;
    display: flex;
    justify-content: center;
}

.conteudo{
    width: 60vw;
    height: auto;
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 1.5;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formContato{
    width: 80vh;
    height: 70vh;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formContato p{
    padding-bottom: 45%;
}

/* ==> Navegação Footer */

.navFooter{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 20vh;
    background: black;
    display: flex;
    justify-content: space-around;
}

.navFooter a{
    color: white;
    font-size: 1rem;
}

.navListSportsBrasil, .navListFAQ, .navListContato{
    position: relative;
    font-family: sans-serif;
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Media Querys */