@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 200, 300, 600, 800;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}
/* Padrão para todos os elementos */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Poppins;
}

/* Variáveis */

:root {
  --color-dark: #000000;
  --color-dark2: #141414;
  --color-dark3: #1414146b;
  --color-white: #ffffff;
  --color-green3: rgb(21, 190, 35);
  --color-blue: #2636e0;
  --color-blue4: #091596;
  --color-blue5: #070f66;
  --color-gray: rgb(136, 135, 135);
}

body {
  width: 100%;
  min-height: 100vh;
}

/* Media DeskTop */
/* ==> Navegação Header */
.header {
  background: var(--color-white);
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 0 0 1rem var(--color-dark3);

  font-weight: 900;
}
#logo {
  margin-left: 4rem;
}
.imageLogo {
  width: 2.8rem;
}
#buttonMenu {
  display: none;
}
#navHeader {
  width: 65%;
}
.navListHeader {
  display: flex;
  gap: 6rem;
}

.navListHeader a {
  color: var(--color-dark2);
  font-size: 1rem;
  display: block;
  padding: 0.5rem;
}
.navListHeader a:hover {
  color: var(--color-blue);
}
/* conteudo principal*/

main {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
}
.animate {
  opacity: 0;
  filter: blur(3px);
  transition: 1s;
}

.animate.from-top {
  transform: translateY(-150%);
}
.animate.from-left {
  transform: translateX(-100%);
}
.animate.from-right {
  transform: translateX(100%);
}
.animate.show {
  opacity: 1;
  filter: blur(0);
  transform: translate(0);
}
.container-first {
  width: 100%;
  margin-top: 1rem;
}
.container-first h1 {
  font-size: 3rem;
  font-family: Montserrat;
  text-align: center;
}
.container-img {
  width: 100%;
  text-align: center;
}
.container-img img {
  width: 70%;
}
.container-historia {
  width: 100%;
  display: flex;
  gap: 2rem;
  margin-bottom: 8rem;
}
.container-text,
.container-image-historia {
  width: 48%;
  text-align: center;
}
.title-segundario {
  font-family: Montserrat;
  font-size: 2rem;
  margin-bottom: 0.8rem;
}
.container-text-historia {
  width: 80%;
  margin: 0 auto;
}
.text-container-historia {
  font-size: 1.1rem;
}
.container-image-historia {
  margin-top: 6rem;
  overflow: hidden;
  border-radius: 0.2rem;
  height: 450px;
}
.container-image-historia img {
  width: 100%;
  transition: all 0.4s;
}
.container-image-historia img:hover {
  transform: scale(1.02);
  transition: all 0.4s;
  filter: brightness(80%);
}
.container-noticia {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-terceiro {
  font-family: Montserrat;
  font-size: 2rem;
  text-align: center;
  margin: 2rem 0 2rem;
}
.container-image {
  width: 100%;
  margin: 1rem 0 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 8px;
}
.image1 {
  grid-row: span 3;
  width: 850px;
  padding-left: 0.2rem;
  display: grid;
}

.container-image1 {
  grid-column: 1;
  grid-row: 1 / 3;
  height: 478px;
  overflow: hidden;
  border-radius: 0.2rem;
  align-items: end;
}
.container-text1 {
  grid-column: 1;
  grid-row: 2;
  align-items: end;
  z-index: 1;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 1, 0.733));
  padding: 1rem;
  text-align: center;
  border-radius: 0.2rem;
}
.container-text1 h3 {
  font-family: Montserrat;
  font-size: 1.5rem;
}
.container-text1 p {
  font-size: 1.1rem;
}
.image1 img {
  border-radius: 0.2rem;
  transition: all 0.4s;
}
.image2,
.image3 {
  border-radius: 0.2rem;
  width: 600px;
  display: grid;
}

.container-image2,
.container-image3 {
  grid-column: 1;
  grid-row: 1 / 3;
  overflow: hidden;
  border-radius: 0.2rem;
  align-items: end;
  height: 232px;
}
.image2 img,
.image3 img {
  transition: all 0.4s;
  width: 100%;
}
.image1 img:hover,
.image2 img:hover,
.image3 img:hover {
  filter: brightness(80%);
  transform: scale(1.02);
  transition: all 0.4s;
}
.resume-historia {
  margin: 0 0.5rem;
  font-size: 1.3rem;
  text-align: center;
}
/*footer*/
footer {
  width: 100%;
  min-height: 100vh;
  margin-top: 4rem;
}
#newsletter {
  width: 100%;
  height: 30vh;

  background-color: var(--color-blue4);
  display: flex;
  justify-content: space-between;
  padding: 2rem 9rem;
  align-items: center;
}
#newsletter span {
  color: var(--color-white);
  font-size: 1.2rem;
  font-weight: 800;
  font-family: Montserrat;
}
.container-input {
  display: flex;
  align-items: center;
}
.container-input input {
  width: 30rem;
  padding-left: 1rem;
  height: 3rem;

  border: none;
  font-size: 1.2rem;
  color: var(--color-dark2);
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.container-input input:focus {
  outline: none;
}
#buttonEmail {
  padding: 0 2.5rem;
  height: 3rem;

  color: var(--color-dark4);
  font-weight: 900;
  font-size: 1rem;
  background-color: var(--color-green3);
  border: none;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  margin-left: -1.04px;
  cursor: pointer;
}
#footer-navigation {
  height: 50vh;
  width: 100%;

  background-color: var(--color-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 9rem;
}
#footer-navigation nav {
  width: 85%;
  display: flex;
  justify-content: space-around;
  color: var(--color-white);
  cursor: pointer;
}
#footer-navigation nav a {
  color: var(--color-white);
}
#footer-navigation nav a:hover,
#footer-navigation nav li:hover,
#footer-navigation nav p:hover {
  text-decoration: underline;
}

.logo-footer {
  width: 6.5rem;
}
#enderecoCBF {
  width: 100%;
  height: 20vh;

  background-color: var(--color-blue5);
  display: flex;
  justify-content: space-between;
  padding: 0 9rem;
  color: var(--color-gray);
  align-items: center;
}
.p-endereco,
.nomeGrupo {
  color: var(--color-white);
}
h4 {
  font-family: Montserrat;
}
/*footer*/

/* Media Tablet */
@media (min-width: 601px) and (max-width: 900px) {
  .header {
    display: flex;
    height: 13vh;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  #logo {
    margin-left: 0.1rem;
  }
  #navHeader {
    width: 25%;
    display: flex;
    justify-content: center;
  }
  #buttonMenu {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #menuHamburguer {
    width: 20px;
    border-top: 2px solid;
    display: block;
    color: var(--color-dark2);
  }
  #menuHamburguer::after,
  #menuHamburguer::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #navHeader.active #menuHamburguer {
    border-top-color: transparent;
  }
  #navHeader.active #menuHamburguer::before {
    transform: rotate(135deg);
  }
  #navHeader.active #menuHamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  .navListHeader a {
    padding: 1rem 0;
    margin: 0 1rem;
    font-size: 0.8rem;
    font-weight: 100;
    border-bottom: 2px solid var(--color-blue3);
  }
  .navListHeader a:hover {
    background: var(--color-blue3);
    color: var(--color-dark2);
  }
  .navListHeader {
    background: var(--color-white);
    width: 100%;
    top: 4.4rem;
    right: 0px;
    height: 0px;
    position: absolute;
    z-index: 9999;
    transition: 0.6s;
    display: block;
    visibility: hidden;
    overflow-y: hidden;
  }
  #navHeader.active .navListHeader {
    height: 40vh;
    visibility: visible;
  }
  /*conteudo*/
  .container-historia {
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    gap: 0;
  }

  .container-text-historia,
  .title-segundario,
  .container-image-historia {
    width: 94%;
    text-align: center;
  }
  .container-text,
  .container-image-historia img,
  .container-noticia {
    width: 100%;
  }
  .title-terceiro,
  .title-segundario,
  .container-first h1 {
    font-size: 1.2rem;
  }
  .container-image-historia {
    height: auto;
  }
  .container-image {
    width: 96%;
    display: flex;
    flex-direction: column;
  }
  .container-image img {
    width: 100%;
  }
  .image1,
  .image2,
  .image3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 300px;
  }

  .container-image1,
  .container-image2,
  .container-image3 {
    width: 100%;
  }
  .container-text1 h3 {
    font-size: 1rem;
  }
  .container-text1 p {
    font-size: 0.9rem;
  }
  .container-text1 {
    background: transparent;
    color: var(--color-dark2);
  }
  /*conteudo*/
  /*footer*/
  footer {
    width: 100%;
    min-height: 100vh;
  }
  #newsletter {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 1rem;
  }
  #newsletter span {
    font-size: 1.2rem;
  }
  .container-input input {
    width: 24rem;
    font-size: 0.9rem;
  }
  #buttonEmail {
    padding: 0 1rem;
    font-size: 0.8rem;
  }
  #footer-navigation {
    padding: 1rem;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 0.8rem;
  }
  #footer-navigation nav {
    gap: 1rem;
  }
  .logo-footer {
    width: 5.2rem;
  }
  #enderecoCBF {
    height: 40vh;
    flex-direction: column;
    padding: 0 0.7rem;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    font-size: 0.9rem;
  }
  /*footer*/
} /* Media Mobile */
@media (max-width: 600px) {
  .header {
    display: flex;
    height: 13vh;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  #logo {
    margin-left: 0.1rem;
  }
  #navHeader {
    width: 25%;
    display: flex;
    justify-content: center;
  }
  #buttonMenu {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #menuHamburguer {
    width: 20px;
    border-top: 2px solid;
    display: block;
    color: var(--color-dark2);
  }
  #menuHamburguer::after,
  #menuHamburguer::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #navHeader.active #menuHamburguer {
    border-top-color: transparent;
  }
  #navHeader.active #menuHamburguer::before {
    transform: rotate(135deg);
  }
  #navHeader.active #menuHamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  .navListHeader a {
    padding: 1rem 0;
    margin: 0 1rem;
    font-size: 0.8rem;
    font-weight: 100;
    border-bottom: 2px solid var(--color-blue3);
  }
  .navListHeader a:hover {
    background: var(--color-blue3);
    color: var(--color-dark2);
  }
  .navListHeader {
    background: var(--color-white);
    width: 100%;
    top: 4.4rem;
    right: 0px;
    height: 0px;
    position: absolute;
    z-index: 9999;
    transition: 0.6s;
    display: block;
    visibility: hidden;
    overflow-y: hidden;
  }
  #navHeader.active .navListHeader {
    height: 40vh;
    visibility: visible;
  }
  /*conteudo*/
  .container-historia {
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    gap: 0;
  }

  .container-text-historia,
  .title-segundario,
  .container-image-historia {
    width: 94%;
    text-align: center;
  }
  .container-text,
  .container-image-historia img,
  .container-noticia {
    width: 100%;
  }
  .title-terceiro,
  .title-segundario,
  .container-first h1 {
    font-size: 1.2rem;
  }
  .container-image-historia {
    height: auto;
  }
  .container-image {
    width: 96%;
    display: flex;
    flex-direction: column;
  }
  .container-image img {
    width: 100%;
  }
  .image1,
  .image2,
  .image3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 300px;
  }

  .container-image1,
  .container-image2,
  .container-image3 {
    width: 100%;
  }
  .container-text1 h3 {
    font-size: 1rem;
  }
  .container-text1 p {
    font-size: 0.9rem;
  }
  .container-text1 {
    background: transparent;
    color: var(--color-dark2);
  }
  /*conteudo*/
  /*footer*/
  footer {
    width: 100%;
    min-height: 100vh;
  }
  #newsletter {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 1rem;
  }
  #newsletter span {
    font-size: 0.9rem;
  }
  .container-input input {
    width: 16rem;
    font-size: 0.9rem;
  }
  #buttonEmail {
    padding: 0 1rem;
    font-size: 0.8rem;
  }
  #footer-navigation {
    padding: 1rem;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 0.8rem;
  }
  #footer-navigation nav {
    gap: 1rem;
  }
  .logo-footer {
    width: 5.2rem;
  }
  #enderecoCBF {
    height: 40vh;
    flex-direction: column;
    padding: 0 0.7rem;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    font-size: 0.9rem;
  }
  /*footer*/
}
