/* links externos */

@import url('https://fonts.googleapis.com/css2? family= Lilita+One & family= Montserrat:ital,wght@1,300 & family= Poppins:ital,wght@0,100;0,200;0,300; 0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900 & display=swap');


/* padrão dos elementos */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* variáveis */
:root{
    --dark-blue: #2636E0;
    --light-blue: #6670ddaf;
    --blue: #6670dd4a;
    --blue-green: #36F1F7;
    --yellow: #FFFC22;
    --dark-yellow: #f6f488;
    --green: #26E037;
    --dark-grey: #1e1c1c;
    --grey: #434141;
    --light-grey: #ada9a9;
}

/* Classes, ID's e Elementos */

body{
    width: 100%;
    height: 100vh;
    font-family: 'Lilita One', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}


/* ==> header */
.navHeader{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--light-blue);
    padding: 0 32px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.300);
}

#logo{
    width: 54px;
    height: 54px;
}

.navListHeader{
    display: inline-flex;
}

.navListHeader li{
    padding: 8px 32px;
    border-radius: 8px;
}

.navListHeader a{
    color: white;
}

.navHeader li:hover{
    background: var(--blue);
}

/* ==> main */

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrowBtn{
    z-index: 1000;
    position: absolute;
    width: 960px;
    height: 584px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrowBtn img{
    width: 64px;
    height: 64px;
    padding: 8px;
    border-radius: 8px;
}

.arrowBtn :first-child{
    transform: rotate(-180deg);
}

.arrowBtn img:hover{
    background: var(--light-grey);
}

.cards{
    position: absolute;
    width: 800px;
    height: 584px;
    background: var(--dark-yellow);
}

.container{
    position: absolute;
    width: 100%;
    height: 584px;
    display: flex;
    justify-content: space-between;
}

.cardsLeft, .cardsRight{
    width: 275px;
    height: 584px;
    background: rgb(255, 255, 255);
    z-index: 1000;
}

.conteudo{
    z-index: 0;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 3200px;
    height: 584px;
}

.card{
    position: relative;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 260px;
    border-radius: 12px;
    border: solid 1px black;
    background: whitesmoke;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.205);
}

.playerPhoto{
    text-align: center;
}

.playerPhoto img{
    margin-top: 24px;
}

.playerPhoto p{
    font-family: 'Lilita One', cursive;
}

.infobox{
    width: 198px;
    height: 65px;
    background: black;
    text-align: center;
    border-radius: 0 0 12px 12px;
}

.infobox p{
    padding: 20px 0;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
}

/* ==> footer */

.navFooter{
    width: 100%;
    height: 164px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: var(--dark-grey);
    padding: 16px 128px;
}

.navFooter a{
    color: var(--light-grey);
    font-family: 'Poppins', sans-serif;

}

.bar{
    width: 1px;
    height: 132px;
    background: var(--grey);
}

.navFooter li{
    line-height: 1.5;
}

.navListSportsBrasil, .navListFAQ, .navListSobre, .navListContato{
    display: flex;
    flex-direction: column;
    align-items: start;
}

/* media querys */