@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 200, 300, 600, 800;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Lilita One";
  src: url("../../assets/fonts/Lilita-One/LilitaOne-Regular.ttf");
}

@font-face {
  font-family: "Black Ops One";
  src: url("../../assets/fonts/Black-Ops-One/BlackOpsOne-Regular.ttf");
}

/* Padrão para todos os elementos */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* Variáveis */

:root {
  --color-dark: #000000;
  --color-dark2: #141414;
  --color-dark3: #1414146b;
  --color-white: #ffffff;
  --color-green: #26e037;
  --color-green2: #44ff37;
  --color-green3: rgb(21, 190, 35);
  --color-greenDk: #011302;
  --color-yellow: #fffc22;
  --color-yellow2: #9d9a00;
  --color-blue: #2636e0;
  --color-blue4: #091596;
  --color-blue5: #070f66;
  --color-blueDk: #131a70;
  --color-gray: rgb(136, 135, 135);
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: Poppins;
}

/* Media DeskTop */
/* ==> Navegação Header */
.header {
  background: var(--color-white);
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 0 0 1rem var(--color-dark3);
  font-family: Poppins;
  font-weight: 900;
}

#logo {
  margin-left: 4rem;
}

.imageLogo {
  width: 2.8rem;
}

#buttonMenu {
  display: none;
}

#navHeader {
  width: 65%;
}

.navListHeader {
  display: flex;
  gap: 6rem;
}

.navListHeader a {
  color: var(--color-dark2);
  font-size: 1rem;
  display: block;
  padding: 0.5rem;
}

.navListHeader a:hover {
  color: var(--color-blue);
}

/* conteudo principal*/

.carrosselConteiner {
  margin: 2.5% auto;
  width: 100%;
  height: 520px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center {
  width: 80%;
  height: 520px;
}

.lateral {
  width: 12%;
  height: 520px;
  background: rgb(255, 255, 255);
  z-index: 3;
}

.carrosselBox {
  position: absolute;
  overflow: hidden;
  height: 520px;
  display: flex;
  padding: 24px 68px;
  left: 11.2%;
  gap: 72px;
  align-items: center;
  transition: transform 0.8s ease-in-out;
  z-index: 1;
}

.carrosselBg {
  width: 100%;
  height: 520px;
  position: absolute;
  z-index: -1;
  background: url("../../assets/images/cbf-bg.jpg") center no-repeat;
  background-size: cover;
  filter: brightness(70%);
}

.card {
  padding: 4px;
  animation: sumidao 0.7s forwards;
  z-index: 4;
  flex-grow: 0;
  flex-basis: 260px;
  flex-shrink: 0;
  width: 260px;
  height: 380px;
  background: var(--color-yellow);
  box-shadow: 0 0 20px black;
  box-shadow: inset 4px -4px 16px black;
  display: flex;
  flex-direction: column;
  border: solid 10px transparent;
  border-image: url("../../assets/images/black-bg.jpg") 50 round;
  transition: 0.8s ease-in-out;
  filter: brightness(60%) blur(1px);
  cursor: pointer;
}

.cardGrow {
  transform: scale(1.1);
  filter: brightness(100%) blur(0);
  /* transition: .3s ease; */
}

.JogadorImg {
  width: 96%;
  height: 54%;
}

.JogadorImg img {
  position: relative;
  margin: 2px 4px;
  width: 100%;
  height: 100%;
}

.JogadorNum {
  width: 222px;
  position: absolute;
  font-family: Black Ops One;
  color: var(--color-white);
  text-shadow: 2px 2px 4px black;
  font-size: 3rem;
  display: flex;
  justify-content: right;
}

.JogadorNome {
  position: relative;
  width: 100%;
  height: 46%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lilita One;
  font-weight: 100;
  font-size: 1.6rem;
  /* text-shadow: 2px 2px 4px var(--color-blueDk); */
  color: var(--color-white);
  background: url("../../assets/images/spray-black-bg.png") no-repeat center;
  background-size: cover;
}

.popup {
  padding-top: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 6;
}

.popup-content {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup-opened {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.8s, transform 0.8s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 6;
  filter: brightness(100%) blur(0);
}

/*footer*/
footer {
  width: 100%;
  min-height: 100vh;
  margin-top: 4rem;
}
#newsletter {
  width: 100%;
  height: 30vh;

  background-color: var(--color-blue4);
  display: flex;
  justify-content: space-between;
  padding: 2rem 9rem;
  align-items: center;
}
#newsletter span {
  color: var(--color-white);
  font-size: 1.2rem;
  font-weight: 800;
  font-family: Montserrat;
}
.container-input {
  display: flex;
  align-items: center;
}
.container-input input {
  width: 30rem;
  padding-left: 1rem;
  height: 3rem;

  border: none;
  font-size: 1.2rem;
  color: var(--color-dark2);
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.container-input input:focus {
  outline: none;
}
#buttonEmail {
  padding: 0 2.5rem;
  height: 3rem;

  color: var(--color-dark4);
  font-weight: 900;
  font-size: 1rem;
  background-color: var(--color-green3);
  border: none;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  margin-left: -1.04px;
  cursor: pointer;
}
#footer-navigation {
  height: 50vh;
  width: 100%;

  background-color: var(--color-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 9rem;
}
#footer-navigation nav {
  width: 85%;
  display: flex;
  justify-content: space-around;
  color: var(--color-white);
  cursor: pointer;
}
#footer-navigation nav a {
  color: var(--color-white);
}
#footer-navigation nav a:hover,
#footer-navigation nav li:hover,
#footer-navigation nav p:hover {
  text-decoration: underline;
}

.logo-footer {
  width: 9rem;
}
#enderecoCBF {
  width: 100%;
  height: 20vh;

  background-color: var(--color-blue5);
  display: flex;
  justify-content: space-between;
  padding: 0 9rem;
  color: var(--color-gray);
  align-items: center;
}
.p-endereco,
.nomeGrupo {
  color: var(--color-white);
}
h4 {
  font-family: Montserrat;
}
/*footer*/

/* Media Tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .header {
    display: flex;
    height: 13vh;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  #logo {
    margin-left: 0.1rem;
  }

  #navHeader {
    width: 25%;
    display: flex;
    justify-content: center;
  }

  #buttonMenu {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    gap: 0.5rem;
  }

  #menuHamburguer {
    width: 20px;
    border-top: 2px solid;
    display: block;
    color: var(--color-dark2);
  }

  #menuHamburguer::after,
  #menuHamburguer::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }

  #navHeader.active #menuHamburguer {
    border-top-color: transparent;
  }

  #navHeader.active #menuHamburguer::before {
    transform: rotate(135deg);
  }

  #navHeader.active #menuHamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  .navListHeader a {
    padding: 1rem 0;
    margin: 0 1rem;
    font-size: 0.8rem;
    font-weight: 100;
    border-bottom: 2px solid var(--color-blue3);
  }

  .navListHeader a:hover {
    background: var(--color-blue3);
    color: var(--color-dark2);
  }

  .navListHeader {
    background: var(--color-white);
    width: 100%;
    top: 4.4rem;
    right: 0px;
    height: 0px;
    position: absolute;
    z-index: 9999;
    transition: 0.6s;
    display: block;
    visibility: hidden;
    overflow-y: hidden;
  }

  #navHeader.active .navListHeader {
    height: 40vh;
    visibility: visible;
  }
  footer {
    width: 100%;
    min-height: 100vh;
  }
  #newsletter {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 1rem;
  }
  #newsletter span {
    font-size: 1.2rem;
  }
  .container-input input {
    width: 24rem;
    font-size: 0.9rem;
  }
  #buttonEmail {
    padding: 0 1rem;
    font-size: 0.8rem;
  }
  #footer-navigation {
    padding: 1rem;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 0.8rem;
  }
  #footer-navigation nav {
    gap: 1rem;
  }
  .logo-footer {
    width: 5.2rem;
  }
  #enderecoCBF {
    height: 40vh;
    flex-direction: column;
    padding: 0 0.7rem;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    font-size: 0.9rem;
  }
}

/* Media Mobile */
@media screen and (max-width: 600px) {
  .header {
    display: flex;
    height: 13vh;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  #logo {
    margin-left: 0.1rem;
  }

  #navHeader {
    width: 25%;
    display: flex;
    justify-content: center;
  }

  #buttonMenu {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    gap: 0.5rem;
  }

  #menuHamburguer {
    width: 20px;
    border-top: 2px solid;
    display: block;
    color: var(--color-dark2);
  }

  #menuHamburguer::after,
  #menuHamburguer::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }

  #navHeader.active #menuHamburguer {
    border-top-color: transparent;
  }

  #navHeader.active #menuHamburguer::before {
    transform: rotate(135deg);
  }

  #navHeader.active #menuHamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  .navListHeader a {
    padding: 1rem 0;
    margin: 0 1rem;
    font-size: 0.8rem;
    font-weight: 100;
    border-bottom: 2px solid var(--color-blue3);
  }

  .navListHeader a:hover {
    background: var(--color-blue3);
    color: var(--color-dark2);
  }

  .navListHeader {
    background: var(--color-white);
    width: 100%;
    top: 4.4rem;
    right: 0px;
    height: 0px;
    position: absolute;
    z-index: 9999;
    transition: 0.6s;
    display: block;
    visibility: hidden;
    overflow-y: hidden;
  }

  #navHeader.active .navListHeader {
    height: 40vh;
    visibility: visible;
  }

  .carrosselBox {
    margin-left: -70%;
  }
  /*footer*/
  footer {
    width: 100%;
    min-height: 100vh;
  }
  #newsletter {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 1rem;
  }
  #newsletter span {
    font-size: 0.9rem;
  }
  .container-input input {
    width: 16rem;
    font-size: 0.9rem;
  }
  #buttonEmail {
    padding: 0 1rem;
    font-size: 0.8rem;
  }
  #footer-navigation {
    padding: 1rem;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 0.8rem;
  }
  #footer-navigation nav {
    gap: 1rem;
  }
  .logo-footer {
    width: 5.2rem;
  }
  #enderecoCBF {
    height: 40vh;
    flex-direction: column;
    padding: 0 0.7rem;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    font-size: 0.9rem;
  }
  /*footer*/
}
