@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 200, 300, 600, 800;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

@font-face{
  font-family: "Lilita One";
  src: url("../../assets/fonts/Lilita-One/LilitaOne-Regular.ttf");
  font-weight: 200, 300, 600, 800;
}


/* Padrão para todos os elementos */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Poppins;
}

/* Variáveis */

:root {
  --color-dark: #000000;
  --color-dark2: #141414;
  --color-dark3: #1414146b;
  --color-white: #ffffff;
  --color-green: #26e037;
  --color-green2: #44ff37;
  --color-greenDk:#011302;
  --color-yellow: #fffc22;
  --color-yellow2: #9d9a00;
  --color-blue: #2636e0;
  --color-blue4: #4977ff;
  --color-blueDk: #131a70;
  --color-blue2: #36f1f7;
  --color-blue3: #36f1f77c;
  --border-table: #ddd;
  --background-thead: #d4d4d4;
  --bg-hoverThead: rgb(221, 220, 220);
  --background-table: #e7e7e7;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Media DeskTop */
/* ==> Navegação Header */
.header {
  background: var(--color-white);
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 0 0 1rem var(--color-dark3);

  font-weight: 900;
}

#logo {
  margin-left: 4rem;
}

.imageLogo {
  width: 3.8rem;
}

#buttonMenu {
  display: none;
}

#navHeader {
  width: 65%;
}

.navListHeader {
  display: flex;
  gap: 6rem;
}

.navListHeader a {
  color: var(--color-dark2);
  font-size: 1rem;
  display: block;
  padding: 0.5rem;
}

.navListHeader a:hover {
  color: var(--color-blue);
}

/* conteudo principal*/

.carrosselConteiner{
  margin: 2.5% auto;
  width: 100%;
  height: 520px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.center{
  width: 80%;
  height: 520px;
}

.lateral{
  width: 12%;
  height: 520px;
  background: rgb(255, 255, 255);
  z-index: 3;
  
}

.carrosselBox{
  position: absolute;
  overflow: hidden;
  height: 520px;
  display: flex;
  padding: 24px 68px;
  left: 11.2%;
  gap: 72px;
  align-items: center;
  transition: transform .8s ease-in-out;
  z-index: 1;
}

.carrosselBg{
  width: 100%;
  height: 520px;
  position: absolute;
  z-index: -1;
  background: url('../../assets/images/cbf-bg.jpg') center no-repeat;
  background-size: cover;
  filter: brightness(80%);
}

.card{
  padding: 4px;
  animation: sumidao .7s forwards;
  z-index: 4;
  flex-grow: 0;
  flex-basis: 260px;
  flex-shrink: 0;
  width: 260px;
  height: 380px;
  outline: solid 2px var(--color-dark2);
  background: linear-gradient(to bottom, var(--color-blue3), var(--color-yellow));
  box-shadow: 0 0 10px black;
  display: flex;
  flex-direction: column;
  outline: dashed 7px var(--color-white);
}

.JogadorImg{
  position: relative;
  width: 100%;
  height: 64%;
}

.JogadorImg img{
  position: relative;
  width: 100%;
  height: 100%;
}

.JogadorNome{
  position: relative;
  width: 100%;
  height: 36%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lilita One", cursive;
  font-style: italic;
  font-size: 2rem;
  text-shadow: 2px 2px 4px var(--color-blueDk);
  color: var(--color-dark);
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 6;
}

.popup-content {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-size: 1rem;
}

.popup-opened {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity .8s, transform .8s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 6;
}

.popup-opened .popup-content {
  font-size: 1rem;
}

/*footer*/

/* Media Tablet */
@media (min-width: 768px) and (max-width: 991px) {}

/* Media Mobile */
@media (max-width: 600px) {
  .header {
    display: flex;
    height: 13vh;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  #logo {
    margin-left: 0.1rem;
  }

  #navHeader {
    width: 25%;
    display: flex;
    justify-content: center;
  }

  #buttonMenu {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    gap: 0.5rem;
  }

  #menuHamburguer {
    width: 20px;
    border-top: 2px solid;
    display: block;
    color: var(--color-dark2);
  }

  #menuHamburguer::after,
  #menuHamburguer::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }

  #navHeader.active #menuHamburguer {
    border-top-color: transparent;
  }

  #navHeader.active #menuHamburguer::before {
    transform: rotate(135deg);
  }

  #navHeader.active #menuHamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  .navListHeader a {
    padding: 1rem 0;
    margin: 0 1rem;
    font-size: 0.8rem;
    font-weight: 100;
    border-bottom: 2px solid var(--color-blue3);
  }

  .navListHeader a:hover {
    background: var(--color-blue3);
    color: var(--color-dark2);
  }

  .navListHeader {
    background: var(--color-white);
    width: 100%;
    top: 4.4rem;
    right: 0px;
    height: 0px;
    position: absolute;
    z-index: 9999;
    transition: 0.6s;
    display: block;
    visibility: hidden;
    overflow-y: hidden;
  }

  #navHeader.active .navListHeader {
    height: 40vh;
    visibility: visible;
  }

  .carrosselBox{
    margin-left: -2%;
  }

}